<section
  id="animaciones"
  class="section"
  data-section-title="Animaciones/Visuales"
>
  <header class="section-title"><h2>Visuales</h2></header>

  <div class="slider slider--fade">
    <input type="radio" name="anim" id="anim-1" checked />
    <input type="radio" name="anim" id="anim-2" />
    <input type="radio" name="anim" id="anim-3" />

    <div class="slides card">
      <!-- gif 1 -->
      <article class="slide slide--1">
        <div class="anim-gif-frame">
          <img
            src="../../public/assets/visuales/3.gif"
            alt=""
          />
        </div>
      </article>

      <!-- gif 2 -->
      <article class="slide slide--2">
        <div class="anim-gif-frame">
          <img
            src="../../public/assets/visuales/1.gif"
            alt=""
          />
        </div>
      </article>

      <!-- gif 3 -->
      <article class="slide slide--3">
        <div class="anim-gif-frame">
          <img
            src="../../public/assets/visuales/2.gif"
            alt=""
          />
        </div>
      </article>

      <div class="nav-arrows">
        <!-- cuando está en 1 -->
        <label
          for="anim-3"
          class="arrow arrow-left anim-when-1"
          aria-label="anterior"
        ></label>
        <label
          for="anim-2"
          class="arrow arrow-right anim-when-1"
          aria-label="siguiente"
        ></label>
        <!-- cuando está en 2 -->
        <label
          for="anim-1"
          class="arrow arrow-left anim-when-2"
          aria-label="anterior"
        ></label>
        <label
          for="anim-3"
          class="arrow arrow-right anim-when-2"
          aria-label="siguiente"
        ></label>
        <!-- cuando está en 3 -->
        <label
          for="anim-2"
          class="arrow arrow-left anim-when-3"
          aria-label="anterior"
        ></label>
        <label
          for="anim-1"
          class="arrow arrow-right anim-when-3"
          aria-label="siguiente"
        ></label>
      </div>
    </div>

    <div class="dots">
      <label for="anim-1" class="dot" aria-label="ir a animaciones 1"></label>
      <label for="anim-2" class="dot" aria-label="ir a animaciones 2"></label>
      <label for="anim-3" class="dot" aria-label="ir a animaciones 3"></label>
    </div>
  </div>
</section>
