
<section id="fotos" class="section" data-section-title="Fotos">
  <header class="section-title"><h2>Fotos</h2></header>

  <div class="slider slider--fade">
    <input type="radio" name="ph" id="ph-1" checked />
    <input type="radio" name="ph" id="ph-2" />

    <div class="slides card">
      <!-- Slide 1: 6 fotos -->
      <article class="slide slide--1">
        <div class="gallery fotos-gallery">
          <figure class="foto foto-vert">
            <img src="./assets/fotos/image3.webp" alt="Serie 1 - foto 1" />
          </figure>
          <figure class="foto foto-vert">
            <img src="./assets/fotos/image2.webp" alt="Serie 1 - foto 2" />
          </figure>
          <figure class="foto foto-horiz">
            <img src="./assets/fotos/image.webp" alt="Serie 1 - foto 3" />
          </figure>
          <figure class="foto foto-horiz">
            <img src="./assets/fotos/image5.webp" alt="Serie 1 - foto 4" />
          </figure>
          <figure class="foto foto-vert">
            <img src="./assets/fotos/image4.webp" alt="Serie 1 - foto 5" />
          </figure>
          <figure class="foto foto-vert">
            <img src="./assets/fotos/image6.webp" alt="Serie 1 - foto 6" />
          </figure>
        </div>
      </article>

      <!-- Slide 2: 6 fotos -->
      <article class="slide slide--2">
        <div class="gallery fotos-gallery">
          <figure class="foto foto-horiz">
            <img src="./assets/fotos/image7.webp" alt="Serie 2 - foto 1" />
          </figure>
          <figure class="foto foto-vert">
            <img src="./assets/fotos/image11.webp" alt="Serie 2 - foto 2" />
          </figure>
          <figure class="foto foto-vert">
            <img src="./assets/fotos/image8.webp" alt="Serie 2 - foto 3" />
          </figure>
          <figure class="foto foto-vert">
            <img src="./assets/fotos/image9.webp" alt="Serie 2 - foto 4" />
          </figure>
          <figure class="foto foto-vert">
            <img src="./assets/fotos/image10.webp" alt="Serie 2 - foto 5" />
          </figure>
        </div>
      </article>

      <div class="nav-arrows">
        <label
          for="ph-2"
          class="arrow arrow-left ph-when-1"
          aria-label="siguiente"
        ></label>
        <label
          for="ph-2"
          class="arrow arrow-right ph-when-1"
          aria-label="siguiente"
        ></label>
        <label
          for="ph-1"
          class="arrow arrow-left ph-when-2"
          aria-label="anterior"
        ></label>
        <label
          for="ph-1"
          class="arrow arrow-right ph-when-2"
          aria-label="anterior"
        ></label>
      </div>
    </div>

    <div class="dots">
      <label for="ph-1" class="dot" aria-label="ir a fotos 1"></label>
      <label for="ph-2" class="dot" aria-label="ir a fotos 2"></label>
    </div>
  </div>
</section>
