<section id="obras" class="section" data-section-title="Obras">
  <header class="section-title"><h2>Obras</h2></header>

  <div class="slider slider--fade">
    <!-- Radios del slider de obras -->
    <input type="radio" name="obra" id="obra-1" checked />
    <input type="radio" name="obra" id="obra-2" />
    <input type="radio" name="obra" id="obra-3" />
    <input type="radio" name="obra" id="obra-4" />

    <div class="slides card">
      <!-- Slide 1 -->
      <article class="slide slide--1">
        <div class="obra-item">
          <div class="obra-text">
            <h3>Las calles andan diciendo</h3>
            <p>
              Acción colectiva donde se proyectaron frases recogidas de
              manifestaciones, carteles y aportes del público sobre las paredes
              de la universidad. El proyecto construyó un archivo vivo, en
              constante transformación, que dio visibilidad a voces callejeras,
              populares y muchas veces silenciadas
            </p>
          </div>
          <div class="obra-gallery">
            <img
              src="./assets/obras/obra.png"
              alt="Las calles andan diciendo 1"
            />
            <img
              src="./assets/obras/obra2.png"
              alt="Las calles andan diciendo 2"
            />
            <img
              src="./assets/obras/obra3.png"
              alt="Las calles andan diciendo 3"
            />
          </div>
        </div>
      </article>

      <!-- Slide 2 -->
      <article class="slide slide--2">
        <div class="obra-item">
          <div class="obra-text">
            <h3>Evergreen</h3>
            <p>
              Experiencia de realidad virtual con paisajes imaginarios. Invita a
              la contemplación digital de la naturaleza. Construye un entorno
              desde el asombro, la inmersión y la pausa.
            </p>
          </div>
          <div class="obra-gallery">
            <img src="./assets/obras/obra13.png" alt="Picnic 1" />
            <img src="./assets/obras/obra14.png" alt="Picnic 2" />
            <img src="./assets/obras/obra15.png" alt="Picnic 3" />
          </div>
        </div>
      </article>

      <!-- Slide 3 -->
      <article class="slide slide--3">
        <div class="obra-item">
          <div class="obra-text">
            <h3>Tecno Vacui</h3>
            <p>
              Instalación donde a partir de un guante, se activan visuales y
              sonidos en tiempo real sobre televisores y relés reciclados. A
              través del cuerpo, el espectador interviene una máquina
              visual-sonora.
            </p>
          </div>
          <div class="obra-gallery">
            <img src="./assets/obras/obra4.png" alt="Tecno Vacui 1" />
            <img src="./assets/obras/obra5.png" alt="Tecno Vacui 2" />
            <img src="./assets/obras/obra6.png" alt="Tecno Vacui 3" />
          </div>
        </div>
      </article>

      <!-- Slide 4 -->
      <article class="slide slide--4">
        <div class="obra-item">
          <div class="obra-text">
            <h3>Pena - Performers Electroacústicos No Androides</h3>
            <p>
              Instalación performática que propone una exploración de objetos
              reciclados y solenoides como instrumentos percutivos. Se ponen en juego los
              límites entre tecnología, materialidad y acción sonora.
            </p>
          </div>
          <div class="obra-gallery">
            <img src="./assets/obras/obra7.png" alt="Evergreen 1" />
            <img src="./assets/obras/obra8.png" alt="Evergreen 2" />
            <img src="./assets/obras/obra9.png" alt="Evergreen 3" />
          </div>
        </div>
      </article>

      <!-- Flechas del slider de obras -->
      <div class="nav-arrows">
        <!-- Cuando está en la 1 -->
        <label
          for="obra-4"
          class="arrow arrow-left obra-when-1"
          aria-label="anterior"
        ></label>
        <label
          for="obra-2"
          class="arrow arrow-right obra-when-1"
          aria-label="siguiente"
        ></label>

        <!-- Cuando está en la 2 -->
        <label
          for="obra-1"
          class="arrow arrow-left obra-when-2"
          aria-label="anterior"
        ></label>
        <label
          for="obra-3"
          class="arrow arrow-right obra-when-2"
          aria-label="siguiente"
        ></label>

        <!-- Cuando está en la 3 -->
        <label
          for="obra-2"
          class="arrow arrow-left obra-when-3"
          aria-label="anterior"
        ></label>
        <label
          for="obra-4"
          class="arrow arrow-right obra-when-3"
          aria-label="siguiente"
        ></label>

        <!-- Cuando está en la 4 -->
        <label
          for="obra-3"
          class="arrow arrow-left obra-when-4"
          aria-label="anterior"
        ></label>
        <label
          for="obra-1"
          class="arrow arrow-right obra-when-4"
          aria-label="siguiente"
        ></label>
      </div>
    </div>

    <!-- Dots del slider de obras -->
    <div class="dots">
      <label for="obra-1" class="dot" aria-label="ir a obra 1"></label>
      <label for="obra-2" class="dot" aria-label="ir a obra 2"></label>
      <label for="obra-3" class="dot" aria-label="ir a obra 3"></label>
      <label for="obra-4" class="dot" aria-label="ir a obra 4"></label>
    </div>
  </div>
</section>
